.contact-page {
    padding: 10%;
    @media (max-width: 1200px) {
        padding-top: 20%;
        padding-bottom: 60%;
    }
    @media (max-width: 991px) {
        padding-top: 20%;
    }

    @media (max-width: 700px) {
        padding-top: 40%;
        padding-bottom: 70%;
    }
}