// Navigation
.nav-container {
    border-bottom: 1.5px solid #f55555;
    background: #111111;
    position: fixed;
    z-index: 2;
      
    .navbar-container {
        margin-left: auto;
    }

    .nav-link {
        font-size: 1.3rem;
    }
    .nav-link:hover {
        text-shadow: 2px 3px #f55555;
    }

    .icon {
        width: 85px; 
        margin-left: -1.5%;

        @media(max-width: 500px) {
            margin-left: -7%;
        }
    }
}
