// Navigation
.nav-container {
    border-bottom: .5px solid #adbfef;
    background: linear-gradient(
        to right,
        #000000,
        #111111,
        #f55555
      ) repeat; 
      
    .navbar-container {
        margin-left: auto;
    }

    .nav-link {
        font-size: 1.3rem;
    }
    .nav-link:hover {
        text-shadow: 2px 3px #f55555;
    }

    .icon {
        width: 85px; 
        margin-left: -1.5%;

        @media(max-width: 500px) {
            margin-left: -7%;
        }
    }
}
