$thick : 3px;
$pad : 0.7em;
$extra : calc(#{$pad} * 1.2);
$color : #f55555;

.home-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  
  .hero-section {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100vw;
      height: 100vh;
      background-image: url("../images/314pic4color.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: scroll;
      background-size: cover;

      .logo {
          padding-top: 75px;
          padding-bottom: 50px;
          width: 90%;
      }
      

      .button {
        background: transparent;

        a {
          color: white;
          text-shadow: 3px 3px black;
          padding: $pad $extra;
          display: inline-block;
          border: $thick solid transparent;
          position: relative;
          font-size: 1.75rem;
          cursor: pointer;
          letter-spacing: 0.07em;
          text-decoration: none;

          .text {
            padding: 0 0.3em;
            transform: translate3d(0, $pad, 0);
            display: block;
            transition: transform 0.4s cubic-bezier(.2, 0, 0, 1) 0.4s;
          }

          &:after {
            position: absolute;
            content: '';
            bottom: -$thick;
            left: $extra;
            right: $extra;
            height: $thick;
            background: $color;
            transition:
              transform 0.8s cubic-bezier(1, 0, .37, 1) 0.2s,
              right 0.2s cubic-bezier(.04, .48, 0, 1) 0.6s,
              left 0.4s cubic-bezier(.04, .48, 0, 1) 0.6s;
            transform-origin: left;
          }
        }

        .line {
          position: absolute;
          background: $color;

          &.-right,
          &.-left {
            width: $thick;
            bottom: -$thick;
            top: -$thick;
            transform: scale3d(1, 0, 1);
          }

          &.-top,
          &.-bottom {
            height: $thick;
            left: -$thick;
            right: -$thick;
            transform: scale3d(0, 1, 1);
          }

          &.-right {
            right: -$thick;
            transition: transform 0.1s cubic-bezier(1, 0, .65, 1.01) 0.23s;
            transform-origin: top;
          }

          &.-top {
            top: -$thick;
            transition: transform 0.08s linear 0.43s;
            transform-origin: left;
          }

          &.-left {
            left: -$thick;
            transition: transform 0.08s linear 0.51s;
            transform-origin: bottom;
          }

          &.-bottom {
            bottom: -$thick;
            transition: transform 0.3s cubic-bezier(1, 0, .65, 1.01);
            transform-origin: right;
          }
        }

        a:hover,
        a:active {

          .text {
            transform: translate3d(0, 0, 0);
            transition: transform 0.6s cubic-bezier(.2, 0, 0, 1) 0.4s;
          }

          &:after {
            transform: scale3d(0, 1, 1);
            right: -$thick;
            left: -$thick;
            transform-origin: right;
            transition:
              transform 0.2s cubic-bezier(1, 0, .65, 1.01) 0.17s,
              right 0.2s cubic-bezier(1, 0, .65, 1.01),
              left 0s 0.3s;
          }

          .line {
            transform: scale3d(1, 1, 1);

            &.-right {
              transition: transform 0.1s cubic-bezier(1, 0, .65, 1.01) 0.2s;
              transform-origin: bottom;
            }

            &.-top {
              transition: transform 0.08s linear 0.4s;
              transform-origin: right;
            }

            &.-left {
              transition: transform 0.08s linear 0.48s;
              transform-origin: top;
            }

            &.-bottom {
              transition: transform 0.5s cubic-bezier(0, .53, .29, 1) 0.56s;
              transform-origin: left;
            }
          }
        }
      }

  }

  .mid {
      margin: 15%;
      margin-bottom: 10%;
      
      h1 {
          font-size: 5rem;
          text-align: center;
          background-image: linear-gradient(to right,#f55555, #adbfef, #c35fde);
          color: transparent;
          background-clip: text;
          @media (max-width: 700px) {
              font-size: 4rem;
          }
      }

      p {
          color: whitesmoke;
      }
  }

  .blog-section {
      padding-bottom: 10%;

      h1 {
          font-size: 5rem;
          text-align: center;
          background-image: linear-gradient(to right,#f55555, #adbfef, #c35fde);
          color: transparent;
          background-clip: text;
          @media (max-width: 700px) {
              font-size: 4rem;
          }
      }

  }

  .bottom {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
      width: 100%;

      .contact {
          text-align: center;
          width: 60%;
          @media (max-width: 991px) {
              width: 65%;
          }
          @media (max-width: 700px) {
              width: 70%;
          }
          @media (max-width: 400px) {
              width: 80%;
          }
      }

      .social {
          text-align: center;
          padding: 5%;
          @media (max-width: 991px) {
              width: 100%;
              padding-top: 10%;
          }

          h3 {
              font-size: 5rem;
              text-align: center;
              background-image: linear-gradient(to right,#f55555, #adbfef, #c35fde);
              color: transparent;
              background-clip: text;
              @media (max-width: 700px) {
                  font-size: 4rem;
              }
          }

          p {
              color: whitesmoke;
          }

          a {
              margin: 5%;
              padding-bottom: 5%;
              color: #f55555;
              font-size: 200%;
          }
      }

  }



}