.home-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    
    .hero-section {
        text-align: center;
        width: 100%;
        height: 100%;
        padding-top: 8%;
        padding-bottom: 15%;
        background-image: url("../images/314pic4color.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;

        .logo {
            padding-top: 10%;
            padding-bottom: 5%;
            width: 75%;
            @media (max-width: 700px) {
                padding-top: 25%;
            }
        }

        p {
            color: whitesmoke;
            font-size: 2.25rem;
            text-shadow: 2px 2px black;
            padding-bottom: 5%;
            padding-left: 18%;
            padding-right: 18%;
            @media (max-width: 991px) {
                font-size: 1.75rem;
            }
            @media (max-width: 700px) {
                font-size: 1.5rem;
                padding-left: 22%;
                padding-right: 22%;
            }
        }
        
        .button {
            display: inline-block;
            padding: .75rem 1.25rem;
            border-radius: 10rem;
            color: whitesmoke;
            text-shadow: 1px 1px black;
            text-transform: uppercase;
            font-size: 1.25rem;
            letter-spacing: .15rem;
            transition: all .3s;
            position: relative;
            overflow: hidden;
            z-index: 1;
            @media (max-width: 700px) {
                font-size: 1rem;
            }

            &:after {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: #f55555;
              border-radius: 10rem;
              z-index: -2;
            }
            &:before {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 0%;
              height: 100%;
              background-color: whitesmoke;
              transition: all .3s;
              border-radius: 10rem;
              z-index: -1;
            }
            &:hover {
              color: #f55555;
              text-shadow: 1px 1px black;
              text-decoration: none;
              &:before {
                width: 100%;
              }
            }
          }
          

    }

    .mid {
        margin: 15%;
        margin-bottom: 10%;
        
        h1 {
            font-size: 5rem;
            text-align: center;
            background-image: linear-gradient(to right,#f55555, #adbfef, #c35fde);
            color: transparent;
            background-clip: text;
            @media (max-width: 700px) {
                font-size: 4rem;
            }
        }

        p {
            color: whitesmoke;
        }
    }

    .blog-section {
        padding-bottom: 10%;

        h1 {
            font-size: 5rem;
            text-align: center;
            background-image: linear-gradient(to right,#f55555, #adbfef, #c35fde);
            color: transparent;
            background-clip: text;
            @media (max-width: 700px) {
                font-size: 4rem;
            }
        }

    }

    .bottom {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100%;

        .contact {
            text-align: center;
            width: 60%;
            @media (max-width: 991px) {
                width: 65%;
            }
            @media (max-width: 700px) {
                width: 70%;
            }
            @media (max-width: 400px) {
                width: 80%;
            }
        }

        .social {
            text-align: center;
            padding: 5%;
            @media (max-width: 991px) {
                width: 100%;
                padding-top: 10%;
            }

            h3 {
                font-size: 5rem;
                text-align: center;
                background-image: linear-gradient(to right,#f55555, #adbfef, #c35fde);
                color: transparent;
                background-clip: text;
                @media (max-width: 700px) {
                    font-size: 4rem;
                }
            }

            p {
                color: whitesmoke;
            }

            a {
                margin: 5%;
                padding-bottom: 5%;
                color: #f55555;
                font-size: 200%;
            }
        }

    }



}
