@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

@import "./home.scss";
@import "./header.scss";
@import "./contact.scss";

$font: 'Raleway', sans-serif; 

//Colors


// Main
html, body {
    font-family: $font;
    font-size: 16px;
    text-align: center;
    height: 100%;
    background: linear-gradient(
        to right,
        #000000,
        #111111,
        #222222,
        #292929
      ) repeat; 
}