.thanks-container {
    display: flex;
    flex-direction: column;
    padding-top: 25%;
    padding-bottom: 20%;
    @media (max-width: 1650px) {
        padding-top: 30%;
        padding-bottom: 30%;
    }
    @media (max-width: 1300px) {
        padding-top: 50%;
        padding-bottom: 50%;
    }
    @media (max-width: 830px) {
        padding-top: 80%;
        padding-bottom: 100%;
    }
    @media (max-width: 450px) {
        padding-top: 120%;
        padding-bottom: 130%;
    }

    h1 {
        color: whitesmoke;
        font-size: 4rem;
        padding: 2%;
        @media (max-width: 991px) {
            font-size: 3rem;
        }
    }
    p {
        color: whitesmoke;
        font-size: 1.25rem;
    }
}